{% extends 'base.html' %}

{% block content %}

<form action="/labels/{{label.id}}" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="{{label.name}}" required autofocus>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" value="{{label.email}}" required>
    </div>
    <div>
        <label for="active">Is label still active?:</label>
        <select id="active" name="active">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
    </div>
    <button type="submit">Update Label</button>
</form>
{% endblock %}