{% extends 'base.html' %}

{% block content %}

{% for label in labels %}
<section class=label-container>
    <li>{{ label.name }}</li>
    <li>{{ label.email }}</li>
    {% if label.active == True %}
        <i class="fa fa-check fa-2x" style="color:green" aria-hidden="true"></i>
    {% else %}
        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
    {% endif %}
    <br>
    <br>
<a href="/labels/{{label.id}}/show">Review label details</a>
<a href="/labels/{{label.id}}/edit">Edit label details</a>
<a href="/labels/{{label.id}}/delete">Delete label details</a>
</section>
{% endfor %}


{% endblock %}