{% extends 'base.html' %}

{% block content %}

<div class="labels-container">

{% for label in labels %}
<section class=label-container>
    <li>{{ label.name }}</li>
    <li>{{ label.email }}</li>
    {% if label.active == True %}
        <p>Label: Active</p>
    {% else %}
        <p>Label: Defunct</p>
    {% endif %}
    <br>
    <br>
    <p>Albums provided:</p>
    {% for album in albums %}
    {% if album.label.id == label.id %}
        <li><a href="/albums/{{album.id}}/show">{{ album.title }}</a></li>
    {% endif %}
{% endfor %}
<br>
<br>
<a href="/labels/{{label.id}}/show">Review label details</a>
<a href="/labels/{{label.id}}/edit">Edit label details</a>
<a href="/labels/{{label.id}}/delete">Delete label details</a>
</section>
{% endfor %}

</div>

{% endblock %}

