header {
    background-color: black;
    color: gold;
    display: flex;
    justify-content: space-between;
    font-family: 'Source Sans Pro';
}

#employee {
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}


header > h1 {
    font-family: 'Permanent Marker';
    font-size: 68px;
    justify-content: center;
    align-items: center;
}

header > ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    list-style-type: none;
    margin-right: 10px;
    margin-bottom: 50px;
}

header > ul > li > a {
  color: gold;
}

header > ul > li > a:link {
    text-decoration: none;
  }


body {
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  background-color: cornsilk;
}

.index-album-containers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.warning {
  display: flex;
  flex-direction: column;
  border: 5px solid gold;
  min-width: 200px;
  max-width: 300px;
  min-height: 68px;
  padding: 10px;
  line-height: 18px;
  margin-bottom: 10px;
  margin-right: 20px;
  }

.index-album-container {
  display: flex;
  flex-direction: column;
  border: 5px solid gold;
  min-width: 200px;
  max-width: 300px;
  min-height: 68px;
  padding: 10px;
  line-height: 18px;
  margin-bottom: 10px;
  margin-right: 20px;
  }

.index-label-containers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.index-label-container {
  display: flex;
  flex-direction: column;
  border: 5px solid gold;
  min-width: 200px;
  max-width: 300px;
  min-height: 68px;
  padding: 10px;
  line-height: 18px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.albums-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.album-container {
  display: flex;
  flex-direction: column;
  border: 5px solid gold;
  min-width: 200px;
  max-width: 300px;
  min-height: 68px;
  padding: 10px;
  line-height: 18px;
  margin-bottom: 10px;
  margin-right: 20px;
  }

.album-container > img {
  max-width: 150px;
  max-height: 150px;
}

.album-container > p {
  text-align: left;
  line-height: 15px;
  margin: 10px;
  padding-bottom: 15px;
  }

.album-container > h4 {
  margin: 5px;
  line-height: 5px;
  padding-top: 5px;
}

.album-container > a {
  color: black;
}

.stock-info {
  justify-content: baseline;
}


.label-container {
  display: flex;
  flex-direction: column;
  border: 5px solid gold;
  max-width: 200px;
  min-height: 68px;
  padding: 10px;
  line-height: 18px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.label-container > a {
  margin-bottom: 10px;
  color: black;
}

#content {
  display: flex;
  flex-direction: row;
  }

#form {
  display: flex;
  flex-direction: column;
}


.warning {
  grid-area: warning;
}

.index-album-container {
  grid-area: album;
  text-decoration: none;
  color: black;
}

.index-label-container {
  grid-area: label;
  text-decoration: none;
  color: black;
}

.home {
  font-family: 'Source Sans Pro';
  font-weight: 400;
}

.single {
  display: flex;
  justify-content: center;
}
