<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Gold Soundz</title>
</head>
<header>
    <section id="employee">
        <img src="{{ url_for('static', filename='images/Barry.png') }}" alt="Picture of employee" style="width:150px;height:100px;">
        <p>Barry</p>
    </section>
    <h1>Gold Soundz</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/albums">Albums</a></li>
        <li><a href="/labels">Labels</a></li>
        <li><a href="/albums/artist">Find all albums by an artist</a></li>
    </ul>

    
    
</header>
<body>
    <section id="content">
        {% block content %}
  
        {% endblock%}
    </section>
</body>
</html>