{% extends 'base.html'%}

{% block content %}

<section class="home-container">

{% for album in albums %}
{% if album.amount_units == 0 %}
<div class="home-warning"><a href="/oos"><img src="{{ url_for('static', filename='images/gd warning.png') }}" alt="A picture of warning sign" style="width:100px;height:100px;"></a></div>

{% endif %}
{% endfor %}
<div class="home-div-album">
<div class="home"><a href="/albums"><img src="{{ url_for('static', filename='images/records.jpeg') }}" alt="A picture of a stack of records" style="width:200px;height:200px;"></a>View all albums</div>
<div class="home"><a href="/albums/new"><img src="{{ url_for('static', filename='images/add_album.jpeg') }}" alt="A picture of a record with a plus sign" style="width:200px;height:200px;"></a>Add new album</div>
<div class="home"><a href="/albums/search-by-name"><img src="{{ url_for('static', filename='images/search.png') }}" alt="A picture of a magnifying glass" style="width:200px;height:200px;"></a>Search for an Album</div>
</div>
<div class= "home-div-label">
<div class="home"><a href="/labels"><img src="{{ url_for('static', filename='images/labels.jpeg') }}" alt="A picture of various record labels" style="width:200px;height:200px;"></a>View all labels</div>
<div class="home"><a href="/labels/new"><img src="{{ url_for('static', filename='images/plus.png') }}" alt="A picture of a plus sign" style="width:200px;height:200px;"></a>Add new label</div>
</div>
</section>
{% endblock content %}
