{% extends 'base.html' %}


{% block content %}

{% for album in albums %}
<div class="album-container">
    <img src="{{ url_for('static', filename='images/{}.jpeg'.format(album.title)) }}" alt="Picture of album cover">
    <h4>Title</h4>
    <p>{{ album.title }}</p>
    <h4>Artist</h4>
    <p>{{ album.artist }}</p>
    {% for label in labels %}
      {% if label.id == album.label.id %}
        <p> {label.name}} </p>
      {% endif %} 
    {% endfor %}
    <a href="/albums/{{album.id}}/show">Review</a>
    <a href="/albums/{{album.id}}/edit">Edit</a>
    <a href="/albums/{{album.id}}/delete">Delete</a>
    <a href="/albums/genre/{{album.genre}}">View all albums by genre</a>
    <br>
    <br>
    <section class=stock-info>
      {% if album.amount_units >= album.ideal_units %}
        <p>Stock fine</p><i class="fas fa-check"></i>
      {% elif album.amount_units == 0 %}
        <p>Out of stock!</p><i class="fas fa-times"></i>
      {% elif album.amount_units < album.ideal_units %}
        <p>Low stock!</p><i class="fas fa-exclamation-triangle"></i>
      {% endif %}
      </section>
</div>
</div>
{% endfor %}
</div>

{% endblock %}