{% extends 'base.html' %}


{% block content %}

{% for album in albums %}
<div class="album">
      {{album.title}}
    <li>Title</li>
    <p>{{ album.title }}</p>
    <p>Artist</p>
    <p>{{ album.artist }}</p>
    <p>Amount of units in stock</p>
    <p>{{ album.amount_units }}</p>
    <p>Ideal number of units</p>
    <p>{{ album.ideal_units }}</p>
    <p>Buy-in cost</p>
    <p>{{ album.cost }}</p>
    <p>Selling price</p>
    <p>{{ album.sell_price }}</p>
    <p>Label ID</p>
    <p>{{ album.label.id }}</p>
    <p>Album ID</p>
    <p>{{ album.id }}</p>
    {% for label in labels %}
      {% if label.id == album.label.id %}
          <p> {label.name}} </p>{
      {% endif %} 
    {% endfor %}
</div>
    <div class="buttons">
            <a href="/albums/new">Create new album entry</a>
            <a href="/albums/{{album.id}}/delete">Delete</a>
            <a href="/albums/{{album.id}}/edit">Edit</a>
            <a href="/albums/{{album.id}}/show">Review</a>
          </form>
        {% if album.amount_units >= album.ideal_units %}
          <p>Stock fine</p>
        {% elif album.amount_units == 0 %}
          <p>Out of stock!</p>
        {% elif album.amount_units < album.ideal_units %}
          <p>Low stock!</p>
        {% endif %}
</div>
</div>
{% endfor %}
</div>

{% endblock %}